body {
    position: relative;
    background-color: #ffffff;
}

.round {
    border-radius: 100px;
    box-shadow: 0 0 10px black;
    margin-top: 100px;
}
@font-face {
    font-family: Quicksand;
    src: local('Quicksand'), url(fonts/Quicksand.ttf)
}
.fname {
    margin-top: 50px;
    font-family: Quicksand;
}
.aboutme {
    font-family: Quicksand;
    margin-top: 40px;
}